.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CTAContainer {
  width: 100%;
  height: 537.016px;
  cursor: pointer;
  background-image: url("./img/group-shot-with-logo.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.backgroundImg {
  width: 90%;
}

.noSelect {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.circularCursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  border-radius: 50%;
  pointer-events: none;
}